//primary colors

$primaryGrey: #5e5e5e;
$primaryLightGrey: #a9a9b9;
$primaryRed: #ff0000;
$primaryLightBlue: #0085ff;

//Secondary colors

$lighterGrey: #d9d9d9;
$secondaryWhite: #ffffff;
$secondaryBlack: #000000;
